@keyframes rotate-bottom {
    0% {
      -webkit-transform: rotate(0) translateY(-20%);
              transform: rotate(0) translateY(-20%);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
    100% {
      -webkit-transform: rotate(1deg) translateY(-20%);
              transform: rotate(1deg) translateY(-20%);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
}
@keyframes rotate-bottom2 {
    0% {
      -webkit-transform: rotate(0) scaleX(-1);
              transform: rotate(0) scaleX(-1);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
    100% {
      -webkit-transform: rotate(2deg) scaleX(-1);
              transform: rotate(2deg) scaleX(-1);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
}
#Group_6{
    animation: slide-left 8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both alternate infinite;
    transform-origin: center center;
    transform-box: fill-box;
}
@keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
}
.runme{
    backface-visibility: initial;
    animation: rotate-scale-up-hor 6.5s linear both alternate-reverse infinite;
}
@keyframes rotate-scale-up-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
              background-color: #A67707;
    }
    5% {
      -webkit-transform: scale(2) rotateX(-180deg);
              transform: scale(2) rotateX(-180deg);
              background-color: gold;
    }
    10% {
      -webkit-transform: scale(1) rotateX(-360deg);
              transform: scale(1) rotateX(-360deg);
              background-color: #A67707;
    }
    100% {
        -webkit-transform: scale(1) rotateX(-360deg);
                transform: scale(1) rotateX(-360deg);
                background-color: #A67707;
    }
}